@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Raleway:ital,wght@0,100;0,400;0,600;0,900;1,200;1,400;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Raleway:ital,wght@0,100;0,400;0,600;0,900;1,200;1,400;1,500;1,900&family=Ubuntu:wght@400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
  margin: 0;
  overflow-x: hidden;
  height: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.outline {
  outline: rgb(246, 246, 248) solid 1px;
}

@keyframes slideinright {
  from {
    transform: translateX(300px);
  }

  to {
    transform: translateX(0);
  }
}
.slideinright  {
  animation-name: slideinright ;
  animation-duration: 10s ;
  animation-timing-function: ease-in ;
  animation-delay: 5ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;

  /* transform: translateX(-150px);  */
}


/* Animation */
@keyframes slideinleft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}


.slideinleft  {
  animation-name: slideinleft ;
  animation-duration: 10s ;
  animation-timing-function: ease-in ;
  animation-delay: 5ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;

  /* transform: translateX(-150px); */
}




/* NAVBAR  */

.navbar {
  background-color: #e3f2fd;
  height: 100px;
}

.dropdown-menu .dropdown-item {
  margin: 4px;
}

ul .navbar-nav {
  background-color: #e3f2fd;
}


.dropdown-menu .dropdown-item li a:hover {
  background-color: #eeeeee;
  color: #ffffff;
}
/*  NAVBAR */

/*  HERO SECTION  */
main {
  display: block;
  outline: rgb(165, 165, 167) solid 1px;
  box-sizing: border-box;
}

main:hover {
  background-color: rgb(255, 255, 255);
}

.hero-section-text {
  position: absolute;
  top: 20rem;
  left: 0;
  color: #ffffff;
}

.hero-section-img {
  transition: all 0.6s ease-in-out;
  transition-delay: 0ms;
}

.img-fluid img {
  max-width: 100%;
  width: 100%;
  opacity: 0.4;
  height: 50rem;
}

.hero-section-text h6 {
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.hero-section-text hr {
  justify-content: center;
  background-color: #30a6f5;
  margin-right: 3rem;
  margin-left: 3rem;
}

.btn {
  border-radius: 0;
  background-color: #52b9fd;
  border: none;
  box-shadow: none;
}

.btn:hover {
  background-color: #2988c7;
}

/*  HERO SECTION */

/* THIRD SECTION */
.ideation {
  
  background-color: #ffffff;
  margin-top: 4rem;
  display: block;
  margin-bottom: 4rem;
  height: 10rem;
}

.leftside {
  color: #311f1f;
  max-width: 100%;
  display: flex;
  margin-left: 1rem;

}

.rightside {
  color: #311f1f;
  margin-left: 1rem;
  margin-top: -3px;
}
/* THIRD SECTION */

/*  FOURTH SECTION */
.container {
  position: relative;
  background-color: #fdfdfd;
  overflow: hidden;
  outline: rgb(255, 255, 255) solid 1px;  
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.image-list img {
  width: 100%;
  height: 25rem;
  margin-top: 8px;
}

.image-text {
  position: absolute;
  left: 0;
  color: #ffffff;
  font-size: 20px;
  margin-top: 3rem;
  margin-left: 3rem;
  padding: 10px;

}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: white;
}

.image-list a:before  {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -16px;
  left: 0;
  margin-left: 12px;
  margin-bottom: 33px;
  background-color: #ffffff;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;

}

.image-list a:hover:before {
  width: 22rem;
}

.image-list .image-info  {
  position: absolute;
  left: 0;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
  margin-top: 8rem;
  margin-left: 3rem;
  visibility: hidden;
  transition: all 0.6s ease-in-out 0s;
   
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.image-list:hover > .image-info  {
  visibility: visible;
  animation: slideinright 1000ms ease-in-out 0s 1 ;
  
}
.image-list > img,
.image-list > .content {
  transition: 200ms ease-in-out;
}

.image-list:hover > img.blur {
  filter: blur(2px);
  opacity: 1;
}



/* FOURTH SECTION */

/* FIFTH SECTION */
.fif-header p {
  color: #311f1f;
}
.fif-header h1 {
  color: #2988c7;
  padding-top: 4px;
  padding-bottom: 1rem;
  margin-right: 11rem;
}

.fif-header hr {
  background-color: #2988c7;
  margin-right: 13rem;
}

.num-header p {
  color: #2988c7;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.content-inner h6 {
  font-weight: 400;

}

.content-inner p {
  color: #424242;

}

/* FIFTH SECTION */

/* Sixth section */
#landing {
  background: #272727;
  margin-bottom: 3rem;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  color: #ffffff;
  justify-content: center;
  margin-left: 2rem;
}

#landing-text-inner {
  margin-top: 3rem;
}

#landing-text-inner h6 {
  margin-bottom: 1rem;
  font-weight: 800;
}

#landing-text-inner h5 {
  margin-bottom: 1rem;
  font-weight: 100;
  font-size: 30px;
}

#landing-text-inner a {
  margin-top: 1rem;
  color: #ffffff;
  padding: 12px;
}

#landing-image {
  width: 100%;
  margin: 0;
  object-fit: cover;
  overflow: hidden;

}

#landing-image img {
  width: 100%;
  height: 50vh;
}
/* Sixth section */

/*  BLUE FOOTER SECTION */
.blue-footer {
  width: 100%;
  background-color: #2988c7;
  color: #ffffff;
  font-weight: 400;
  height: 8rem;
}
/* BLUE FOOTER SECTION */

/* customers section */

.item img {
  width: 200px;
  height: 200px;
  opacity: 0.7;
}

/* Customer section */

/* Footer section */
/*footer*/

#media {
  width:auto;
  height: 10vh;
}

.copy {
  text-align: center;
  font-size: 14px;
}
.footer {
  overflow: hidden;
}

.footer li {
  font-size: 14px;
}

.footer p {
  font-size: 14px;
}

.social-links {

  margin-left: 9rem;
}
.social-links i {
  justify-content: center;
  color: #272727;
  border-radius: 4px;
  padding: 12px;
  
}
/*  FOOTER SECTION */

/* CONTAINER INFO */
.hero-img img {
  width: 100%;
  height: 25rem;
  opacity:  0.3;
  position: relative;
}

.hero-inner {
  position: absolute;
  top: 7rem;
}

.hero-inner h1 {
  font-weight: 400;
  margin-left: 3rem;
  border-bottom: #fafafa solid;

}

.hero-text {
  color: #ffffff;

}

.btn {
  justify-content: center;
}

/*  CONTAINER INFO */


@media (min-width:992px) {


  .img-fluid img {
    height: 40rem;
    object-fit: cover;

  }

  .hero-section-text h6 {
    margin-top: -6rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .hero-section-text hr {
    justify-content: center;
    margin-right: 18rem;
    margin-left: 18rem;
  }


  .ideation {
    display: flex;
  }
  
  .leftside {
    justify-content: start;
    align-items: center;
    width: 57%;
    margin-left: 5rem;
  }
  
  .rightside {

    justify-items: end;
    align-items: center;
    line-height: 25px;
    font-size: 1rem;
    border-left: #311f1f;
    border-left-width: 0.15rem;
    border-left-style: solid;
    height: 7rem;
  }

  .container {
    max-width: 100%;
    width: 100%;
  }

  .image-list img {
    max-width: 100%;
    width: 42rem;
    height: 23rem;
  }

  .image-list {
    position: relative;
  }

  .image-list a:hover:before {
    width: 25rem;
  }

  .con-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.2rem;
    margin: 3rem 2rem 2rem 2rem;
  }

  .con-inner-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.2rem;
    margin: 2rem 2rem 2rem 2rem;
    
  }

  .image-text {
    font-size: 15px;
    font-weight: 200;
  }

  .fif-header h1 {
    margin-right: 49rem;
  }

  .fif-header hr {
    margin-right: 49rem;
  }


  .racing-history {
    display: flex;
  }

  .content-para {
    margin-right: 3rem;
  }

  #landing {
    display: flex;
  }

  #landing-text-inner {
    justify-content: center;
    align-items: center;
    margin-right: 6rem;
    margin-left: -15rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }


  #landing-text-inner h5 {
    font-size: 50px;
  }

  #landing-text-inner h6 {
    font-family: 30px;
    font-weight: 900;
  }

  #landing-text-inner p {
    font-weight: 400;
  }
  #landing-image img {
    width: 70%;
    height:40rem;
  }

  .footer {
    overflow: hidden;
  }

  .copy p {
    text-align: left;
  }
  
  .social-links {
    margin-top: -2rem;
    margin-left: 65rem;
  }
  

}
